@page
@model LoginModel
@{
}
<h2>Login</h2>
<div class="center-block">
  <h2>Correo</h2>
  <input id="TxtCorreo" type="text" />
  <h2>Contraseña</h2>
  <input id="TxtPass" type="password" />
  <input id="BTN1" type="button" value="Entrar" />
</div>
